@model product_stock_mvc.Web.DTOs.ProviderDTO

@{
    ViewData["Title"] = "Provider Details";
}

<h1>@ViewData["Title"]</h1>

<div class="col-lg-3 col-sm-3">
<table class="table">
<thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td >@Html.DisplayNameFor(model => model.Name):</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Document):</td>
        <td>@Html.DisplayFor(model => model.Document)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ProviderType):</td>
        <td>@Html.DisplayFor(model => model.ProviderType)</td>
    </tr>
        <tr>
        <td>@Html.DisplayNameFor(model => model.IsActive)</td>
        <td>@Html.DisplayFor(model => model.IsActive)</td>
    </tr>
</tbody>
</table>
</div>
<div>
    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-warning text-white" asp-action="Index">Back</a>
</div>
