@model IEnumerable<product_stock_mvc.Web.DTOs.ProviderDTO>

@{
    ViewData["Title"] = "Providers List";
}

<h1>@ViewData["Title"]</h1>
<vc:summary></vc:summary>
<br />
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                <a class="btn btn-primary" supress-by-claim-name="Provider"  supress-by-claim-value="Update" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil"></spam></a>
                <a class="btn btn-danger" supress-by-claim-name="Provider"  supress-by-claim-value="Delete" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a supress-by-claim-name="Provider"  supress-by-claim-value="Create" class="btn btn-success" asp-action="Create">New Provider</a>
</p>
