@model product_stock_mvc.Web.DTOs.ProductDTO

@{
    ViewData["Title"] = "Product Details";
}

<h1>@ViewData["Title"]</h1>
<div class="col-lg-3 col-sm-3">
<table class="table">
<thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td >@Html.DisplayNameFor(model => model.Name):</td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Description):</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Provider):</td>
        <td>@Html.DisplayFor(model => model.Provider.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Price):</td>
        <td>@Html.DisplayFor(model => model.Price)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.QuantityInStock) :</td>
        <td>@Html.DisplayFor(model => model.QuantityInStock)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.IsActive)</td>
        <td>@Html.DisplayFor(model => model.IsActive)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Image):</td>
        <td>@Html.DisplayFor(model => model.Image)</td>
    </tr>
</tbody>
</table>
</div>
<div>
    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-warning text-white" asp-action="Index">Back</a>
</div>
