@model product_stock_mvc.Web.DTOs.ProductDTO

@{
    ViewData["Title"] = @Model.Name;
}

<h1>@ViewData["Title"]</h1>
<hr/>
<img src="~/img/@Model.Image" alt="@Model.Image" style="width:325px; height:300px; border: 1px solid;"/>
<br />
<br />
<div class="col-lg-3 col-sm-3">
<table class="table">
<thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Description):</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Provider):</td>
        <td>@Html.DisplayFor(model => model.Provider.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Price):</td>
        <td>@Html.DisplayFor(model => model.Price)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.QuantityInStock):</td>
        <td>@Html.DisplayFor(model => model.QuantityInStock)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.CreatedOn):</td>
        <td>@Html.DisplayFor(model => model.CreatedOn)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.IsActive)</td>
        <td>@Html.DisplayFor(model => model.IsActive)</td>
    </tr>
</tbody>
</table>
</div>
<br/>
<div>
    <a class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-warning text-white" href="javascript:window.history.back();">Back</a>
</div>
